body,
html {
    background-color: darkgray;
    height: 100%;
    width: 100%;
}

.App {
    background-color: #f7f7f7;
    min-height: 500px;
    width: 400px;
    margin: 40px auto;
}

#todo-form{
    align-items: center;
    align-content: center;
}

#todo-form input {
    background-color: #007892;
    color: black;
    border-radius: 10px;
    font-size: 18px;
    border: 0;
    width: 256px;
    padding: 20px;
    margin: 20px;
}

#todo-form input:focus, #todo-form button:focus{
    outline: none;
}

#todo-form button{
    height: 48px;
    width: 92px;
    border-radius: 6px;
    border: 0;
    background-color:lightsteelblue;
    cursor: pointer;
    font-weight: bolder;
    margin: 8px;
}

#todo-form input::placeholder {
    color: rgb(0,0,0);
    opacity: 0.5;
}
